* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#paper, body {
    background: #1a2c3d;
}

#game_code, #end-game {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 700px;
    height: 390px;
    top: 50%;
    left: 50%;
    margin: -220px 0 0 -375px;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(100, 100, 100, 0.1), 0 3px 1px #D4D4D4;
    color: #555;
}

#game_code, #end-game {
    display: none;
    font-size: 1.5em;
}

#end-game {
    line-height: 50px;
    height: 50px;
}

#end-game, #game_code {
    height: 90px;
}

#current-game-form {
    float: right;
    width: 200px;
    overflow: scroll;
}

#current-game-form li {
    padding: 10px;
    cursor: pointer !important;
    text-align: left;

    font-weight: bold;
    font-size: 20px;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #c8d6e5;
    border-style: solid;
}

#join-form {
    float: left;
    width: 500px;
}

td {
    min-width: 200px;
    text-align: left;
}

tr {
    height: 40px;
}

.button {
    padding: 7px;
    border-width: 0;
    background: #3498db;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}

.button:disabled {
    background: #555555;
    cursor: default;
}

.join-button {
    background: white;
    color: #10ac84;
    border-color: #10ac84;
    border-width: 2px;
    width: 50px;
    padding: 3px;
    font-size: 14px;
    float: right;
    border-radius: 7px;
    cursor: pointer;
}

.join-button:hover {
    background: #10ac84;
    color: white;
    border-color: white;
    border-width: 2px;
    width: 50px;
    padding: 3px;
    font-size: 14px;
    float: right;
    border-radius: 7px;
    cursor: pointer;
}

.alert-message {
    display: none;
    position: fixed;
    top: 20px;
    width: 500px;
    margin-left: -270px;
    left: 50%;
    padding-top: 20px;
    background: white;
    border-radius: 10px;
    border-color: #3498db;
    border-width: 4px;
    border-style: solid;
}

.alert-message h1,
.alert-message p {
    padding-left: 20px;
    padding-right: 20px;
}

.alert-message h1 {
    font-size: 1.4em;
    margin-bottom: 7px;
    font-weight: bold;
}

.alert-message button {
    margin-top: 20px;
    float: right;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    width: 100%;
    background: #3498db;
    color: white;
    padding: 7px;
}

.transparent-div {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#info-view {
    height: 20vh;
    line-height: 20vh;
    color: white;
    text-align: center;
    font-size: 2em;
}
