<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077992593984-pn7cpn1ovq99d00681339o7dkpo9vf79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077992593984-pn7cpn1ovq99d00681339o7dkpo9vf79</string>
	<key>API_KEY</key>
	<string>AIzaSyBCsM6dMNQyFD0ELvhmLaIWxcc-thHOn8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1077992593984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.adrienaudouard.battleshipper</string>
	<key>PROJECT_ID</key>
	<string>battleship-8e01b</string>
	<key>STORAGE_BUCKET</key>
	<string>battleship-8e01b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077992593984:ios:bccc53a17fe9b12d225da5</string>
	<key>DATABASE_URL</key>
	<string>https://battleship-8e01b.firebaseio.com</string>
</dict>
</plist>